.cate-slide .slide-inner{
	position: relative;
	overflow: hidden;
}
.cate-slide .slide-inner li{
	float: left;
}
.cate-slide .dots {
	position: absolute;
	right: 0;
	bottom: 20px;
	width: 130px;
}
.cate-slide .dots li {
	display: inline-block;
	zoom: 1;

	width: 10px;
	height: 10px;
	line-height: 10px;
	margin: 0 4px;

	text-indent: -999em;

	border: 2px solid #fff;
	border-radius: 50%;

	cursor: pointer;
	opacity: .4;

	-webkit-transition: background .5s, opacity .5s;
	-moz-transition: background .5s, opacity .5s;
	transition: background .5s, opacity .5s;
}
.cate-slide .dots li.active {
	background: #fff;
	opacity: 1;
}